<div class="about">
    <div class="about__top">
        <div class="about__title">
            <h3 class="text-size-2">Well Hello There.</h3>
            <p class="text-size-3">If you need me, find me <span>OUTSIDE</span>!</p>
        </div>
        <div class="about__center">
        <div class="about__image-grid">
            <div class="about__image">
                <img id="about__image-1" src="/assets/images/north_shore_waterfall.jpg">
            </div>
            <div class="about__image">
                <img id="about__image-2" src="/assets/images/track_meet.JPG">
            </div>
            <div class="about__image">
                <img id="about__image-3" src="/assets/images/utah_backpacking.JPG">
            </div>
            <div class="about__image">
                <img id="about__image-4" src="/assets/images/vermont_dog.JPG">
            </div>
        </div>
    </div>
    </div>
    <div class="about__bottom">
        <div class="about__paragraph">
            <div class="about__paragraph__text">
                <div class="about__paragraph__text__vertical">
                <h3 class="text-size-2">The <span class="red-underline">Specs</span></h3>
                <p>My name is Avery, and I'm currently studying Computer Science and Political Science at <a href="https://www.carleton.edu/">Carleton College</a>. This summer, I'm interning with <a href="https://www.creedinteractive.com">Creed Interactive</a>, a company which works to build creative solutions to meet business' software needs. During the school year, I'm an Assistant System Administrator for the Math and CS Departments. See the <a routerLink="/projects">Projects</a> page or <a href="https://github.com/Ave-Wat">Github</a> for more information about my professional, curricular, and "for fun" work.</p>
            </div>
        </div>
            <img src="/assets/images/LinkedinImage.jpeg">
        </div>
        
        <div class="about__paragraph">
            <img id="item1" src="/assets/images/tech-for-social-good.jpeg">
            <div class="about__paragraph__text" id="item2">
                <div class="about__paragraph__text__vertical">
                <h3 class="text-size-2">Using CS for <span class="red-underline">Social Good</span></h3>
                <p>In my free time, I enjoy learning how to code in new ways. I'm a member of the Carleton chapters of <a href="https://www.carleton.edu/student/orgs/devx/">DevX</a> and <a href="https://carleton.hack4impact.org/">Hack4Impact</a>. Both of these groups bring students together to work on CS-related projects. Through DevX, I had an opportunity to scrape Twitter and perform a social network analysis for a political science student's senior thesis. I also built a website for the <a href="https://thepanoproject.com">Panorama Project</a>, the recipient for Carleton's Davis Project for Peace Grant. This group is working to bridge America's partisan divides through collaborative public facing journalism created by groups consisting of opposite-minded people.</p>
            </div>
            </div>
            
        </div>
        
        <div class="about__paragraph">
            <div class="about__paragraph__text">
                <div class="about__paragraph__text__vertical">
                    <h3 class="text-size-2">Find me <span class="red-underline">Outside</span>!</h3>
                    <p>In addition to my interest in using my CS skills in meaningful ways, I do endurance athletics. I'm on the cross country and track teams at Carleton, and throughly enjoy running, biking, swimming, nordic, and bouldering. If I'm not on the job, playing bass, or spending time with friends, I'm certaintly outside pushing my limits.</p>
                </div>
            </div>
            <img src="/assets/images/spikeball.JPG">
        </div>

    </div>
</div>