.about {

    a {
        text-decoration: underline;
        color: #0a0c0e;
    }
    
    p {
        line-height: 1.5;
        padding: 1rem 0;
    }

    &__top {
        height: calc(100vh - 82px - 2rem);
        display: flex;
        flex-direction: row;
        padding: 1rem 5rem;
        @media only screen and (max-width: 1000px) {
            display: block;
        }
    }

    &__title {
        z-index: 4;
        line-height: 2rem;
        padding: calc((100vh - 82px - 10rem)/2 - 2rem) 0;
        text-align: center;
        width: 34%;

        @media only screen and (max-width: 1000px) {
            display: block;
            position: absolute;
            width: calc(100% - 8.5rem);
            text-align: right;
            font-weight:bold;
            top: 40%;
            -ms-transform: translateY(-40%);
            transform: translateY(-40%);
        }

        h3 {
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
            animation: 1s ease-out 0s 1 slideInFromLeft;
            z-index: 4;
            position: relative;
        }
        span {
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            text-transform: uppercase;
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
            text-decoration-color:var(--main-red);
            &:hover {
                color: var(--main-red);
                
            }
        }

        p {
            text-align: right;
            animation: 1.25s ease-out 0s 1 slideInFromLeft;
            z-index: 4;
            position: relative;
        }
    }

    &__mobile-image {
        display: none;
        @media only screen and (max-width: 1000px) {
            z-index: 1;
            display: block;
            z-index: 0;
            max-height: calc(100% - 82px - 4rem);
            width: calc(100% - 6rem);
            overflow:hidden;
            opacity: 1;
            margin: 0;
            margin-left: -2rem;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        img {
            position: relative;
            object-fit: cover;
            width: 100%;
            z-index: 0;
            opacity: .7;
        }
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image-grid{
        display:grid;
        min-width: calc(40vw + 20px);
        width: 66%;
        grid-template-columns: 20vw 20vw;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-left: 5rem;
        @media only screen and (max-width: 1000px) {
            display: none;
            height: 100vh;
        }
    }

    &__image {
        width: 20vw;
        height: 40vh;
        opacity: 1;
        z-index: 1;
        transition: 0.7s;
        position: relative;
        img {
            position: absolute;
            object-fit: cover;
            border-radius: 2px;
            box-shadow: 0 10px 2rem #1d262a;
        }
        
    }
    
    &__image:hover{
        z-index:3;
        opacity: .7;
    }

    &__text {
        z-index: 2;
    }

    &__bottom {
        min-height: calc(100vh - 82px - 10rem);
        background-color: #EEEDED;
        color: #0a0c0e;
        padding: calc(25vh + 5rem) 5rem 0 5rem;

        @media only screen and (max-width: 1000px) {
            padding: calc(25vh + 5rem) 1rem 0 1rem;
        }
    }

    &__paragraph {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 25vh;

        #item1{
            @media only screen and (max-width: 1000px) {
                order: 2;
            }
        }
    
        #item2{
            @media only screen and (max-width: 1000px) {
                order: 1;
            }
        }

        @media only screen and (max-width: 1000px) {
            display:flex;
            flex-flow: column;
            flex-wrap: wrap;
        }
        
        &__text {
            width: 50%;
            position: relative;
            &__vertical {
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                @media only screen and (max-width: 1000px) {
                    position: relative;
                    transform: none;
                    -ms-transform: none;
                    top: auto;
                }
            }
            @media only screen and (max-width: 1000px) {
                width: 100%;
            }
        }

        img {
            margin: 0 5rem;
            object-fit: cover;
            width: calc(50% - 10rem);
            max-height: 50vh;
            min-height: 25vh;
            border-radius: 2px;
            @media only screen and (max-width: 1000px) {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                margin: auto;
            }
        }
    }
}

#about{
    &__image-1 {
        width: 15vw;
        height: 25vh;
        bottom: 0;
        right: 0;
    }

    &__image-2 {
        width: 20vw;
        height: 40vh;
        bottom: 0;
        left: 0;
    }

    &__image-3 {
        width: 17vw;
        height: 35vh;
        top: 0;
        right: 0;
    }

    &__image-4 {
        width: 18vw;
        height: 30vh;
        top: 0;
        left: 0;
    }
}