

.projects {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px 0 100px 0;
    @media screen and (min-width: 810px) {
      align-items: center;
    }
  }
  &__header {
    text-align: center;
    padding: 5rem 0;
  }
}

.project {
    display:flex;
    padding: 1rem 1rem 6rem 1rem;
    text-align: left;
    position: relative;
    @media screen and (max-width: 810px){
      padding: 1rem 0;
    } 
  
    &__index {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: auto;
      color: var(--main-white);
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      font-size: 3rem;
      line-height: 3rem;
      //background-color: var(--main-blue);
      border-radius: 50%;
      height: 3rem; /* You must set a specified height */
      width: 3rem;
      background-size: contain;
      background-position: left; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      
      @media screen and (max-width: 810px)
      {
        display: none;
      } 
    }
  
    &__button {
      flex: auto;
      background-color: var(--main-white);
      color: var(--main-black);
      padding: 0;
      margin: 0 0 0 2rem;
      height: 100%;
      box-shadow: 0 0 10px 5px var(--main-dark-blue);
      border-radius: 2px;
      border: none;
  
      :hover {
        cursor: default;
        .project__highlight_on_hover {
          color: var(--main-blue);
          img {
            filter: brightness(0) saturate(100%) invert(65%) sepia(82%) saturate(4391%) hue-rotate(349deg) brightness(104%) contrast(98%);
          }
        }
        .project__gray_on_hover {
          color: gray;
        }
        a {
          cursor: pointer;
        }
      }
  
      @media screen and (max-width: 810px){
        margin: 0 1rem;
      } 
    }
  
    &__container {
      flex-grow: 1;
      width: 100%;
      margin-top: 0;
      padding: 2rem 0rem;
      display: flex;
      flex-wrap: wrap;
      @media screen and (min-width: 810px)
      {
        width: 700px;
        flex-wrap: nowrap;
      } 
    }
  
    &__img {
      flex: .2 .2 0;
      margin-left: 1rem;
      height: 15%;
      width: 15%;
      border-radius: 2px;
      filter: grayscale(70%);
      @media screen and (max-width: 810px){
        flex: .4 .4 0;
      }
    }
    &__details {
      @media screen and (min-width: 810px){
        flex: .4 .4 0;
        margin: 0 2rem;
        padding-bottom: 1.5rem;
        
      }
      flex: .6 .6 0;
      margin: 0 2rem;
      padding-bottom: 3rem;
      position: relative;
  
      h3 {
        margin: 0;
        text-align: left;
        margin-bottom: .5rem;
      }
      div {
        margin: 0;
        text-align: left;
        padding: .5rem 0 0 0;
      }
  
      &__pub {
        font-size: .8rem;
        span {
          color: var(--main-blue);
        }
      }
  
      &__ep {
        font-size: .7rem;
      }
  
      &__links {
        color: gray;
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding:.25rem 0;
        border-top: 1px solid var(--main-red);
        text-align: left;
        font-size: .7rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        a, a:hover, a:focus, a:active {
          text-decoration: none;
          color: inherit;
          padding-right: 1vw;
        }
      }
    }
  
    &__description {
      @media screen and (min-width: 810px){
        flex: .4 .4 0;
        margin: 0 2rem 0 0;
      }
      
      margin: 2rem;
      text-align: left;
      font-size: .9rem;
    }
  }