
<body>
  <header>
    <div class="header-block header-block-left">
      <h1>Avery Watts</h1>
    </div>
    <div class="header-block header-block-right">
      <nav>
        <ul>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/projects">Projects</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer id="contact">
    <h2>Contact Me</h2>
    <div class="contact-links">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/avery-watts-911226197" target="_blank" class="contact-details"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/Ave-Wat" target="_blank" id="profile-link" class="contact-details"><i class="fab fa-github"></i> GitHub</a>
        </li>
        <li>
          <a href="mailto:afisherwatts@gmail.com" class="contact-details"><i class="fas fa-at"></i> Send an email</a>
        </li>
      </ul>
    </div>
  </footer>
</body>
