header {
    display: flex;
    flex-direction: row;
}

.header-block {
    width: 50%;
}

nav {
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-right: 15%;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 25%;
}

a {
    line-height: 32px;
}

