header {
    display: flex;
    flex-direction: row;
    height: 85px;
    padding: 0 2rem;
    position: relative;

    h1 {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        @media only screen and (max-width: 1000px){
            font-size: 1.17em;
        }
    }
}

.header-block {
    width: 50%;
}

nav {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin-right: 15%;

    ul {
        margin-top: 0;
        margin-bottom: 0;
        //margin-right: 2.5rem;
        //margin-left: -2.5rem;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        align-items: right;
        width: calc(50% - 2rem);
        justify-content: flex-end;
    }
    li {
        margin: 0;
        margin-right: 10%;
    }
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 25%;
    @media only screen and (max-width: 1000px){
        margin-right: 5%;
    }
}

a {
    line-height: 32px;
}

