header {
    display: flex;
    flex-direction: row;
    height: 85px;
    padding: 0 2rem;
    position: relative;

    h1 {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.header-block {
    width: 50%;
}

nav {
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-right: 15%;

    ul {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 2.5rem;
        margin-left: -2.5rem;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 25%;
}

a {
    line-height: 32px;
}

