/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cordo:200|Montserrat:200');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --main-black: #0a0c0e;
    --main-white: #EEEDED;
    --main-red: #BA6655;
    --main-blue: #55A9BA;
    --main-dark-blue: #263238;
}

body, html {
    
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    background-color: #0a0c0e;
    color: #EEEDED;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

a {
    color: var(--main-white);
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    &:hover {
        color: var(--main-red) !important;
        text-decoration: underline;
    }
}

p {
    padding: 1em, 0em;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
}

footer {
    height: 85px;
    padding: 5rem 2rem;
    background-color: #EEEDED;
    color:#0a0c0e;
    a {
        color:#0a0c0e;
    }

    ul {
        padding: 2rem;
        @media only screen and (max-width: 1000px){
            padding: 2rem 0;
        }
    }
}

.dark-footer {
    footer {
        background-color: #0a0c0e;
        color:#EEEDED;
        a {
            color:#EEEDED;
        }
    }
}

app-root {
    padding: 0;
}

app-projects{

    background-color: var(--main-white);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.text-size-1{
    font-size: 2em;
}

.text-size-2{
    font-size: 1.5em;
}

.text-size-3 {
    font-size: 1.17em;
}

.text-size-4 { //equal to p tag size
    font-size: 1em;
}

.red-underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-color: var(--main-red);
}